:root {
  --primary-color: #ffffff;
  --secondary-color: #ff4400;
  --teritary-color: #282c34;
  --highlight-color: #f1c40f;
}

body {
  color: var(--secondary-color);
}

p {
  color: var(--teritary-color);
}

.App-link {
  color: #61dafb;
}

.footer-element {
  align-content: center;
  color: var(--teritary-color);
}

.footer-element strong {
  color: var(--secondary-color);
}

/* .footer-element  */
a {
  color: var(--secondary-color);
  text-decoration: none;
}

/* .footer-element  */
a:hover {
  color: var(--teritary-color);
}
/* .footer-element  */
a:visited {
  color: var(--highlight-color);
}

.landing-page {
  color: var(--secondary-color);
}
.landing-page-right {
  color: var(--teritary-color);
  opacity: 0.7;
  padding: 100px;
}

input {
  color: var(--secondary-color);
  border-radius: 25px solid var(--secondary-color);
  box-shadow: 2px 2px 2px var(--secondary-color);
  /* background-color: var(--secondary-color); */
}
.search-form {
  border: 0;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.vr {
  color: var(--secondary-color);
  display: flex;
  opacity: 1;
  width: 1px;
}
#landing-page {
  font-family: Righteous;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 124px;
  text-align: left;
  text-shadow: 2px 1px var(--teritary-color);
  /* display: flex; */
  word-break: break-all;
}

@media (max-width: 900px) {
  #landing-page {
    font-size: 70px;
  }

  .vr {
    display: none;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
