:root {
  --primary-color: #ffffff;
  --secondary-color: #ff4400;
  --teritary-color: #282c34;
}

body {
  color: var(--secondary-color);
}

p {
  color: var(--teritary-color);
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
