:root {
  --primary-color: #ffffff;
  --secondary-color: #ff4400;
  --teritary-color: #282c34;
  --highlight-color: #f1c40f;
}

/* .footer-element  */
.footer-element a {
  color: var(--secondary-color);
  text-decoration: none;
}

/* .footer-element  */
.footer-element a:hover {
  color: var(--teritary-color);
  text-decoration: none;
}
/* .footer-element  */
.footer-element a:visited {
  color: var(--highlight-color);
  text-decoration: none;
}

body {
  color: var(--secondary-color);
  font-family: Righteous;
}

h4 {
  color: var(--teritary-color);
  opacity: 1;
}

footer {
  color: var(--teritary-color);
  text-align: center;
}

.footer-element strong {
  color: var(--secondary-color);
}

.App-header h4 {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 400px;
  padding: 3px;
  text-align: center;
}

.vr {
  color: var(--secondary-color);
  display: flex;
  opacity: 1;
  width: 1px;
}
