:root {
  --primary-color: #ffffff;
  --secondary-color: #ff4400;
  --teritary-color: #282c34;
  --highlight-color: #f1c40f;
}

.phonetics a {
  color: var(--secondary-color);
  text-decoration: none;
}
.phonetics a:hover {
  color: var(--teritary-color);
}
.phonetics a:visited {
  color: var(--highlight-color);
}

.synonyms-box {
  border: 1px solid var(--secondary-color);
  border-radius: 20%;
  color: var(--secondary-color);
  padding: 8px 10px;
  width: auto;
}
