:root {
  --primary-color: #ffffff;
  --secondary-color: #ff4400;
  --teritary-color: #282c34;
  --highlight-color: #f1c40f;
}

p {
  color: rgba(153, 153, 153, 1);
}
#landing-page-left {
  color: var(--teritary-color);
  font-family: Righteous;
  font-size: 100px;
  font-style: normal;
  font-weight: bold;
  line-height: 124px;
  padding-left: 100px;
  text-align: left;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* display: flex; */
  /* word-break: break-all; */
}

.landing-page {
  color: var(--secondary-color);
  text-shadow: 1px 1px 2px black, 2px 2px var(--teritary-color);
}

.landing-page-right {
  color: var(--teritary-color);
  padding: 100px 50px;
}

.search-form {
  border: 0;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.search-btn,
.search-label {
  border-radius: 25px;
  display: inline-flexbox;
  margin-top: 20px;
  padding: 3px 10px 3px;
}

.search-label {
  box-shadow: 2px 2px 2px var(--secondary-color);
  color: var(--secondary-color) !important;
}

.search-btn {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color);
}

@media (max-width: 800px) {
  #landing-page-left {
    font-size: 65px;
      line-height: 80px;

      margin-left: 0px;
      padding-left: 0px;
  }

  .vr {
    display: none;
  }
}
